#!/usr/bin/bash

################
### TO EDIT ####
################
### Your masternode owner address:
owner=""
### The path to the defi-cli binary:
defiPath=""
################
### Optional ###
################
### The timeout before the wallet relocks
### It will always lock after the script is done
timeout=600
### The path to defi.conf
user=`whoami`
conf="/home/$user/.defi/defi.conf"
################
